
<% if(!isAdmin){ %>
  <%- include("./layouts/user/head.ejs") %>
<%}else{%>

  <head>

    <meta charset="utf-8">

    <title></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/amazon-ember" rel="stylesheet">

    <link href ='/css/animations.css' rel="stylesheet"/>
    <link href ='/css/detail.css' rel="stylesheet"/>

    <link href ='/css/admin.css' rel="stylesheet"/>
    <link href ="/css/admin_header.css" rel= "stylesheet"/>
    <link href ="/css/profile_change.css" rel= "stylesheet"/>
    <link href ='/css/location.css' rel="stylesheet"/>
    <link href ='/css/add_product_form.css' rel="stylesheet"/>
    <link href ='/css/curated_products.css' rel="stylesheet"/>
    <link href ="/css/popup.css" rel = "stylesheet" />
    <link href ="/css/user_header.css" rel = "stylesheet" />
    <link href ='/css/catagory_products.css' rel="stylesheet"/>
    <link href ='/css/util.css' rel="stylesheet"/>
    <link href ='/css/add_product_form.css' rel="stylesheet"/>

  </head>

<%}%>

<% if(!isAdmin){ %>

  <%- include("./layouts/user/home/navbar.ejs") %>

<%}else{ %>
  <%- include("./layouts/admin/navbar.ejs") %>
<%}%>

<div class="black_overlay"></div>

<div class="profile_change_overlay">
  <%- include("./layouts/modal/profile.ejs") %>
  <%- include("./layouts/modal/update_location.ejs") %>
</div>

<% if(isAdmin){ %>
  <%- include("./layouts/admin/product_form.ejs") %>
<%}%>

<% const formatter = new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: 'USD',
  }) %>

<% var price =  formatter.format(item.price) %>
<% var inactive = item.quantity > 0 ? "" : "sold_out" %>
<% var qty = item.quantity > 0 ? "In Stock:"+item.quantity : "This Product is Currently Sold Out" %>
<% var average_rating_new  = item.average_rating ? item.average_rating : 1 %>
<main class="main_content main_content--active" class="main_content relative">

  <div class="row">

    <div class="col-7 product_detail_col--description">

        <div class="product_detail--box">

            <p class="product_detail--name"> <%= item.title %> </p>
            <p class="product_detail--type"> <%= item.catagory %> </p>
            <p class="product_detail--price"> <%= price %> </p>
            <div class="star_container">
              <% for (var x =0; x < Math.floor(average_rating_new); x++) {%>
                  <img src = "/images/star.png" style="float:left;width:30px;height:30px"/>
              <%}%>
              <% if(average_rating_new.rating % 1 != 0) {%>
                  <img src = "/images/half_star.png" style="float:left;width:30px;height:30px"/>
              <%}%>
              <% for (var e =0; e < Math.floor(3 - average_rating_new); e++) {%>
                  <img src = "/images/no_star.png" style="float:left;width:30px;height:30px"/>
              <%}%>

            </div>

            <span class="product_id" id="product_id_hash" _id = "<%= item._id %>"></span>
            <br />
            <p style="width:100%;clear:both;margin-top:20px"class="product_detail--sold <%= inactive %>"><%= qty %></p>

            <br />

            <% if(!isAdmin){ %>
              <p> Qty: </p>
              <input class="product_detail_input product_detail_input--quantity" type = "number" value = 1>
            <%}%>
           <% if(!isAdmin) {%>
              <button product_id = "<%= item._id %>" class="product_detail_button"  id= "product_detail_button--add">Add to Cart</button>
            <%}else{%>
              <button _id = "<%= item._id %>" class="product_detail_button"  id= "product_detail_button--edit">Edit</button>
            <%}%>

            <br />

            <p class="product_detail--description">
              <%= item.description %>
            </p>

        </div>

    </div>

    <div class="col-4 product_detail_col--img">
        <img class="product_detail_image" src = <%= `/images/${item.thumbnail}` %> />
    </div>

  </div>

  <% if(isAdmin){ %>
    <button class="product_detail_button--delete delete_button_p"> Delete </button>
  <%}%>

  <div class="review_section">
    <%- include("./layouts/user/review_collection.ejs") %>

    <div class="paginatsion">

      <a href =  "<%=`/product/${item._id}/${first_page}` %>">
      First Page
      </a>
          <p>...</p>
      <% if(prev_page > first_page){ %>
        <a href =  "<%=`/product/${item._id}/${prev_page}` %>">
          <%= (prev_page + 1).toString() %>
        </a>
      <%}%>

      <a id="act" href =  "<%=`/product/${item._id}/${page_counter}` %>">
       <%= (page_counter + 1).toString() %>
      </a>

     <% if(next_page < page_length){ %>
        <a href =  "<%=`/product/${item._id}/${next_page}` %>">
          <%= (next_page + 1).toString() %>
        </a>
      <%}%>
      <p>...</p>
      <a href =  "<%=`/product/${item._id}/${page_length}` %>" >
       Last Page
      </a>

    </div>

    <br >

    <%- include("./layouts/user/product_review_form.ejs") %>

  </div>

</main>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACepJIoDZ1rhhju2bK-lO23qIzaKwXsnY&loading=async&libraries=maps,marker&v=beta" defer></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src = "/js/util.js" ></script>

<% if(!isAdmin) {%>
  <script src = "/js/user/cart.js" ></script>
  <script src = "/js/user/catagory_render.js" ></script>
  <script src = "/js/user/catagory_toggle.js" ></script>
  <script src = "/js/user/quantity_change.js"></script>

<% }else{%>

  <script src = "/js/admin/catagory_render.js" ></script>
  <script src = "/js/admin/display_product_content.js"></script>
  <script src = "/js/admin/modal.js"></script>
  <script src = "/js/admin/add_product.js"></script>
  <script src = "/js/admin/delete_product.js"></script>
  <script src = "/js/admin/edit_product.js" ></script>
  <script src = "/js/admin/init_events.js" ></script>

<%}%>

<script src = "/js/navbar.js" ></script>
<script src = "/js/review_bar.js" ></script>
<script src = "/js/search_results.js" ></script>
<script src = "/js/update_location.js" ></script>
<script src = "/js/edit_profile.js" ></script>

<%- include("./layouts/end.ejs") %>
