
<% if(!isAdmin){ %>
  <%- include("./layouts/user/head.ejs") %>
<%}else{%>

  <head>

    <meta charset="utf-8">

    <title></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/amazon-ember" rel="stylesheet">

    <link href ='/css/animations.css' rel="stylesheet"/>
    <link href ='/css/detail.css' rel="stylesheet"/>

    <link href ='/css/admin.css' rel="stylesheet"/>
    <link href ="/css/admin_header.css" rel= "stylesheet"/>
    <link href ="/css/profile_change.css" rel= "stylesheet"/>
    <link href ='/css/location.css' rel="stylesheet"/>
    <link href ='/css/add_product_form.css' rel="stylesheet"/>
    <link href ='/css/curated_products.css' rel="stylesheet"/>
    <link href ="/css/popup.css" rel = "stylesheet" />
    <link href ="/css/user_header.css" rel = "stylesheet" />
    <link href ='/css/catagory_products.css' rel="stylesheet"/>
    <link href ='/css/util.css' rel="stylesheet"/>
    <link href ='/css/add_product_form.css' rel="stylesheet"/>

  </head>

<%}%>

<% if(!isAdmin){ %>

  <%- include("./layouts/user/home/navbar.ejs") %>

<%}else{ %>
  <%- include("./layouts/admin/navbar.ejs") %>
<%}%>

<div class="black_overlay"></div>
<%- include("./layouts/modal/popup_message.ejs") %>

<div class="profile_change_overlay">
  <%- include("./layouts/modal/profile.ejs") %>
  <%- include("./layouts/modal/update_location.ejs") %>
</div>

<% if(isAdmin){ %>
  <%- include("./layouts/admin/product_form.ejs") %>
<%}%>

<% const formatter = new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: 'USD',
  }) %>

<% var price =  formatter.format(item.price) %>
<% var inactive = item.quantity > 0 ? "" : "sold_out" %>
<% var qty = item.quantity > 0 ? "In Stock:"+item.quantity : "This Product is Currently Sold Out" %>

<main class="main_content main_content--active" class="main_content relative">

  <div class="row">

    <div class="col-7 product_detail_col--description">

        <div class="product_detail--box">

            <p class="product_detail--name"> <%= item.title %> </p>
            <p class="product_detail--type"> <%= item.catagory %> </p>
            <p class="product_detail--price"> <%= price %> </p>

            <span class="product_id" id="product_id_hash" _id = "<%= item._id %>"></span>

            <p class="product_detail--sold <%= inactive %>"><%= qty %></p>

            <br />

            <% if(!isAdmin){ %>
              <p> Qty: </p>
              <input class="product_detail_input product_detail_input--quantity" type = "number" value = 1>
            <%}%>
           <% if(!isAdmin) {%>
              <button product_id = "<%= item._id %>" class="product_detail_button"  id= "product_detail_button--add">Add to Cart</button>
            <%}else{%>
              <button _id = "<%= item._id %>" class="product_detail_button"  id= "product_detail_button--edit">Edit</button>
            <%}%>

            <br />

            <p class="product_detail--description">
              <%= item.description %>
            </p>

        </div>

    </div>

    <div class="col-4 product_detail_col--img">
        <img class="product_detail_image" src = <%= `/images/${item.thumbnail}` %> />
    </div>

  </div>

  <% if(isAdmin){ %>
    <button class="product_detail_button--delete delete_button_p"> Delete </button>
  <%}%>

  <div class="review_section">

    <h3 class="product_review_text product_review_text--title" style="text-align:center;font-size:25px">Product Reviews</h3>
    <% if(product_reviews.length > 0) {%>

      <% for (var i = 0; i < product_reviews.length; i++) { %>
        <% console.log(product_reviews[i]) %>
        <div class="product_review_user_container"style="margin-top:20px;padding-top:20px;padding-bottom:20px;border-top:0px none solid">
          <div class="row">
              <div class="col-4">
                  <img class="user_img_review" src = "<%= product_reviews[i].user_info.profileImg %>" style="background:#e6e6e6" />
                  <p class="review_rating user_review_text--name"><%= product_reviews[i].user_info.name %></p>
              </div>

              <div class="col-8 "style="margin-top:2.5%">

                  <% for (var x =0; x < Math.floor(product_reviews[i].rating); x++) {%>
                      <img src = "/images/star.png" style="float:left;width:30px;height:30px"/>
                  <%}%>
                  <% if(product_reviews[i].rating % 1 != 0) {%>
                      <img src = "/images/half_star.png" style="float:left;width:30px;height:30px"/>
                  <%}%>
                  <% for (var e =0; e < Math.floor(5 - product_reviews[i].rating); e++) {%>
                      <img src = "/images/no_star.png" style="float:left;width:30px;height:30px"/>
                  <%}%>
                  <div class="text-container" style="clear:both;padding-top:10px;">
                  <p class="review_rating review_rating--heading">
                    <%= product_reviews[i].heading %>
                  </p>
                  <p class="user_review_text review_rating--description">
                    <%= product_reviews[i].description %>
                  </p>
                  </div>
              </div>
          </div>
      </div>

      <%}%>

    <%}%>
    <br >
    <div class="product_review_container">
        <div class="product_review_box">
            <h3 class="product_review_text product_review_text--title">Leave a Review</h3>
            <br>
            <p class="product_review_text product_review_text--title">How Satisfied Were You?</p>
            <div class="status_bar">
              <div class="bar_progress"> 1 / 5</div>
              <div class="bar" id="bar1" value = "1" isActive = "0"></div>
              <div class="bar" id="bar2" value = "1.5" isActive = "0"></div>
              <div class="bar" id="bar3" value = "2" isActive = "0"></div>
              <div class="bar" id="bar4" value = "2.5" isActive = "0"></div>
              <div class="bar" id="bar5" value = "3" isActive = "0"></div>
              <div class="bar" id="bar6" value = "3.5" isActive = "0"></div>
              <div class="bar" id="bar7" value = "4" isActive = "0"></div>
              <div class="bar" id="bar8" value = "4.5" isActive = "0"></div>
              <div class="bar" id="bar9" value = "5" isActive = "0"></div>
            </div>
            <br>

            <form id ="formreview" method = "POST">

                <input type="text" name="heading" class="form-control heading_input" placeholder="Enter Heading"/>
                <br>
                <input value = "<%= item._id %>" name="product_id" type="hidden">
                <textarea class="review_description" cols = "30" rows="5" name = "description">

                </textarea>
                <button type="submit" class="review_btn">Submit</button>
            </form>
        </div>

    </div>

  </div>

</main>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACepJIoDZ1rhhju2bK-lO23qIzaKwXsnY&loading=async&libraries=maps,marker&v=beta" defer></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src = "/js/util.js" ></script>

<% if(!isAdmin) {%>
  <script src = "/js/user/cart.js" ></script>
  <script src = "/js/user/catagory_render.js" ></script>
  <script src = "/js/user/catagory_toggle.js" ></script>
  <script src = "/js/user/quantity_change.js"></script>

<% }else{%>

  <script src = "/js/admin/catagory_render.js" ></script>
  <script src = "/js/admin/display_product_content.js"></script>
  <script src = "/js/admin/modal.js"></script>
  <script src = "/js/admin/add_product.js"></script>
  <script src = "/js/admin/delete_product.js"></script>
  <script src = "/js/admin/edit_product.js" ></script>
  <script src = "/js/admin/init_events.js" ></script>

<%}%>

<script src = "/js/navbar.js" ></script>
<script src = "/js/review_bar.js" ></script>
<script src = "/js/search_results.js" ></script>
<script src = "/js/update_location.js" ></script>
<script src = "/js/edit_profile.js" ></script>

<%- include("./layouts/end.ejs") %>
