
  <%- include("./../layouts/head.ejs") %>
  <%- include("./header.ejs") %>

  <div class="profile_wrapper"></div>

  <main class="cart container-fluid">

    <div class="overlay_content inactive">
      <%- include("./../layouts/user/home/search_overlay.ejs") %>
    </div>

    <div class="profile_change_overlay">
      <%- include("./profile.ejs") %>
      <%- include("./update_location.ejs") %>
    </div>

    <div class="cart_container  main_content padding-5 ">

      <p class=" cart_heading width-100"> Your Cart</p>

      <div class="row">

        <div class="col-8">

            <% if (items) {%>

                <% if (items.length > 0) {%>

                    <% for (var i = 0; i < items.length; i++) { %>
                      <div class="cart_box">

                        <div class="row">

                          <div class="col-4">
                            <img class="width-50 margin-left-25 cart_img" src =   <%= `/${items[i].data.thumbnail}` %> />
                          </div>

                          <div class="col-6">

                            <p class="cart_title cart_text width-100"> <%= items[i].data.title %> </p>
                            <p class="cart_price cart_text width-100"> $<%= items[i].data.price %>.99 </p>
                            <p class="cart_quantity cart_text width-100"> Qty: <%= items[i].data.quantity %> </p>

                            <form method = "POST" action = "/cart/delete" >
                              <input  type="hidden" name = "_id" value= <%= items[i].data._id %> />
                              <button class="delete_button" type="submit"> Delete </button>
                            </form>

                          </div>


                        </div>

                      </div>

                    <% }%>

                <% } %>

            <% } %>

        </div>

        <div class="col-3">

            <div class="total_price_container">

                <p class="total_price">Total Price</p>
                <p class="total_number">$ <%= total_price %> .99</p>
                <button class="checkout_button" id="order_button"> Buy Now</button>

                <script src="https://js.stripe.com/v3/"></script>

            </div>

        </div>

      </div>

    </div>

  </main>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="./js/slideshow.js"></script>
<script src = "./js/cart.js" ></script>
<script src = "./js/util.js" ></script>
<script src="./js/search_results.js"></script>
<script src = "./js/catagory_render.js" ></script>
<script src = "./../js/catagory_toggle.js" ></script>
<script src = "./../js/search_results.js" ></script>
<script src = "./../js/edit_profile.js" ></script>
<script src = "./../js/update_location.js" ></script>

<script>

  var stripe = Stripe("pk_test_51OjAfEL9aEOLpUqjiSrhltnG3aHmrvWEppeBUnNx9OR1oXRGA4GaLJEaU3Z1fKEXd89z0uZhd04ONLoB3NQpdTmt00u5Ujogny")
  var order_button = document.getElementById("order_button");

  order_button.addEventListener("click",(e)=>{
      stripe.redirectToCheckout({
        sessionId:"<%= session_id %>",

      })
  });

</script>


<%- include("./../layouts/end.ejs") %>
