<%- include("./../layouts/user/head.ejs") %>

<main>

  <div class="black_overlay"></div>

  <%- include("./../layouts/user/home/navbar.ejs") %>
  <%- include("./../layouts/modal/popup_message.ejs") %>

  <div class="profile_change_overlay">
    <%- include("./../layouts/modal/update_location.ejs") %>
    <%- include("./../layouts/modal/profile.ejs") %>
  </div>

  <div class="main_content main_content--active">

        <div class="cart_interface_container padding-5 ">

          <p class="cart_interface_heading width-100"> Your Cart</p>

          <div class="row relative">

            <div class="col-8 cart_interface_col--items">

                <% if (cart.items) {%>
                  <% console.log(cart.items) %>
                    <% if (cart.items.length > 0) {%>

                        <% for (var i = 0; i < cart.items.length; i++) { %>

                          <%
                            const formatter = new Intl.NumberFormat('en-US', {
                              style: 'currency',
                              currency: 'USD',
                            });
                          %>
                          <% price = formatter.format(cart.items[i].data.price) %> 
                          <div class="cart_interface_box">

                            <div class="row">

                              <div class="col-4">
                                <img class="margin-left-25 cart_interface_product--img" src =   <%= `/images/${cart.items[i].data.thumbnail}` %> />
                              </div>

                              <div class="col-6">

                                <p class="cart_interface--title cart_interface--text width-100"> <%= cart.items[i].data.title %> </p>
                                <p class="cart_interface--title cart_interface--text width-100"> <%= price %> </p>
                                <p class="cart_interface--title cart_interface--text width-100"> Qty: <%= cart.items[i].quantity %> </p>

                                <form method = "POST" action = "/cart/delete" >
                                  <input  type="hidden" name = "_id" value= <%= cart.items[i].data._id %> />
                                  <button class="cart_interface_button--delete" type="submit"> Delete </button>
                                </form>

                              </div>

                            </div>

                        </div>

                      <% }%>

                  <% } %>

              <% } %>

          </div>

          <div class="col-3 relative">

              <div class="cart_interface_total_price_container">

                  <p class="cart_interface_heading">Total Price</p>
                  <p class="cart_interface_total">$ <%= total_price %> .99</p>
                  <button class="cart_interface_button--checkout" id="order_button"> Buy Now</button>

                  <script src="https://js.stripe.com/v3/"></script>

              </div>

          </div>

        </div>

      </div>

    </div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACepJIoDZ1rhhju2bK-lO23qIzaKwXsnY&loading=async&libraries=maps,marker&v=beta" defer></script>

<script src = "/js/util.js" ></script>
<script src= "/js/search_results.js"></script>
<script src = "/js/search_results.js" ></script>
<script src = "/js/edit_profile.js" ></script>
<script src = "/js/update_location.js" ></script>
<script src = "/js/navbar.js" ></script>

<script src= "/js/user/slideshow.js"></script>
<script src = "/js/user/cart.js" ></script>
<script src = "/js/user/catagory_render.js" ></script>
<script src = "/js/user/catagory_toggle.js" ></script>
<script src = "/js/user/payments.js"></script>

<%- include("./../layouts/end.ejs") %>
