<%- include("./../layouts/user/head.ejs") %>

<main>

  <div class="black_overlay"></div>

  <%- include("./../layouts/user/home/navbar.ejs") %>
  <%- include("./../layouts/modal/popup_message.ejs") %>

  <div class="profile_change_overlay">
    <%- include("./../layouts/modal/update_location.ejs") %>
    <%- include("./../layouts/modal/profile.ejs") %>
  </div>

  <div class="main_content main_content--active">

      <%- include("./../layouts/user/home/slideshow.ejs") %>

    <div class="relative">
      <%- include("./../layouts/user/home/top_discounted_products.ejs") %>
    </div>

     <%- include("./../layouts/user/home/scrollable_banner_of_products.ejs") %>

     <%- include("./../layouts/user/home/catagorized_products.ejs") %>

     <div class="review_section">
       <%- include("./../layouts/user/review_collection.ejs") %>
       <br >
       <%- include("./../layouts/user/product_review_form.ejs") %>
     </div>

  </div>

</main>

<script src = "https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACepJIoDZ1rhhju2bK-lO23qIzaKwXsnY&loading=async&libraries=maps,marker&v=beta" defer> </script>

<script src = "/js/util.js" ></script>
<script src = "/js/render_util.js" ></script>

<script src = "/js/edit_profile.js" ></script>
<script src = "/js/update_location.js" ></script>
<script src = "/js/navbar.js" ></script>
<script src = "/js/search_results.js" ></script>

<script src = "/js/user/catagory_toggle.js" ></script>
<script src = "/js/user/slideshow.js" ></script>
<script src = "/js/user/long_banner.js" ></script>
<script src = "/js/user/catagory_render.js" ></script>
<script src = "/js/review_bar.js" ></script>

<%- include("./../layouts/end.ejs") %>
