<%- include("./../layouts/head.ejs") %>

<main>

  <div class="profile_wrapper"></div>

  <%- include("./header.ejs") %>

  <div class="overlay_content inactive">
    <%- include("./../layouts/user/home/search_overlay.ejs") %>
  </div>

  <div class="profile_change_overlay">
    <%- include("./profile.ejs") %>
    <%- include("./update_location.ejs") %>
  </div>

  <div class="main_content active">
      <%- include("./../layouts/user/home/showcase.ejs") %>

    <div class="relative">
      <%- include("./../layouts/user/home/main_showcased_products.ejs") %>
    </div>

     <%- include("./../layouts/user/home/banner.ejs") %>

     <%- include("./../layouts/user/home/fashion_products.ejs") %>

     <%-include("./../layouts/user/home/reviews.ejs") %>

  </div>

</main>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src = "./js/util.js" ></script>
<script src = "./js/catagory_toggle.js" ></script>
<script src = "./js/search_results.js" ></script>
<script src = "./js/slideshow.js" ></script>
<script src = "./js/long_banner.js" ></script>
<script src = "./js/catagory_render.js" ></script>
<script src = "./js/edit_profile.js" ></script>
<script src = "./js/update_location.js" ></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACepJIoDZ1rhhju2bK-lO23qIzaKwXsnY&loading=async&libraries=maps,marker&v=beta" defer>
</script>

<%- include("./../layouts/end.ejs") %>
