<div class="review_collection">

  <h3 class="product_review_text product_review_text--title" style="text-align:center;font-size:25px"> <%= review_title %></h3>

  <% if(product_reviews.length > 0) {%>

    <% for (var i = 0; i < product_reviews.length; i++) { %>

      <div class="product_review_user_container"style="margin-top:20px;padding-top:20px;padding-bottom:20px;border-top:0px none solid">

        <div class="row">

            <div class="col-4">
                <img class="user_img_review" src = "<%= product_reviews[i].user_info.profileImg %>" style="background:#e6e6e6" />
                <p class="review_rating user_review_text--name"><%= product_reviews[i].user_info.name %></p>
            </div>

            <div class="col-8 "style="margin-top:2.5%">

                <div class="star_container">
                  <%- include("./product_review_stars.ejs") %>
                </div>
                
                <div class="text-container" style="clear:both;padding-top:10px;">

                  <p class="review_rating review_rating--heading">
                    <%= product_reviews[i].heading %>
                  </p>

                  <p class="user_review_text review_rating--description">
                    <%= product_reviews[i].description %>
                  </p>

                </div>

            </div>

        </div>

    </div>


    <%}%>

  <%}%>

</div>
