
<div class="catagory_products container-fluid">

  <% for(var k = 0; k < catagories.length  ; k++) { %>

    <% var starting_counter = 0%>
    <% var c = "Catagory"  %>

    <% if(catagories[k].catagory){ %>

      <% c = catagories[k].catagory %>
      <% starting_counter = catagories[k].counter %>

     <%}%>

  <div class="catagory_row width-100" id = <%= c %>>

      <p class="catagory_title"> <%= c %> </p>

    <div class="items_row relative">

      <div class="catagory_arrow catagory_arrow--left" catagory = <%= c %> counter = -1  >
        <img src = "./../images/arrow.png" catagory = <%= c %> counter = -1/>
      </div>

      <div class="catagory_arrow catagory_arrow--right"  catagory = <%= c %> counter =1>
        <img src = "./../images/arrow.png" catagory = <%= c %> counter =1/>
      </div>

      <div class="catagory_populate_container" >
        <div class="row"id = <%= `_${c}` %>>

        <% for(var i = 0; i <= 3; i++) { %>

          <% var i_ = i + starting_counter %>

          <% if(catagories[k].products[i_]){ %>

            <div class="col-3 catagorized_products_col">

            <a href = <%="/product/"+catagories[k].products[i_]._id %>>

              <div class= "catagory_product_box product_box--catagory width-100" catagory = <%= c %> it = <%= i_ %> >

                <% var name = "Name Will Be Placed Here" %>
                <% var img = "./images/catagory_3.png" %>
                <% var price = "[N/A]" %>
                <% var description = "" %>
                <% const formatter = new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'USD',
                }) %>

                <% name = catagories[k].products[i_].title.substring(0, 30) + "..."; %>
                <% img = "/images/"+catagories[k].products[i_].thumbnail %>
                <% price = formatter.format(catagories[k].products[i_].price) %>
                <% description = catagories[k].products[i_].description.substring(0, 100) + "...";  %>
                <% var discount_price = parseInt(catagories[k].products[i_].price - (catagories[k].products[i_].price * (catagories[k].products[i_].discount / 100))) %>
                <% var cross = catagories[k].products[i_].discount > 0 ? "cross-out" : "" %>
                <% discount_price =  formatter.format(discount_price)  %>

                <p class="catagory_product_text--name"> <%= name %> </p>

                <img class="catagory_product_image margin-top-5" src = "<%= img %>" />

                <div class="catagory_product_text_box margin-top-5">

                  <p class="catagory_product_text catagory_product_text--price <%= cross %>"> <%= price %></p>

                  <p class="catagory_product_text catagory_product_text--price "> <%= discount_price %></p>

                </div>

              </a>

                <%}else{%>
                  <% break %>
                <%}%>

           </div>

         </div>

        <% } %>

      </div>

    </div>

  </div>

</div>

  <% } %>
