
<div class="catagory_products container-fluid">

  <% for(var k = 0; k < catagories.length; k++) { %>

    <% var starting_counter = 0%>

    <% var c = "Catagory"  %>

    <% if(catagories[k].catagory){ %>

      <% c = catagories[k].catagory %>

      <% starting_counter = catagories[k].counter %>

     <%}%>

  <div class="catagory_row width-100" id = <%= c %>>

      <p class="catagory_title"> <%= c %> </p>

    <div class="row items_row relative">

      <div class="catagory_arrow catagory_arrow--left" catagory = <%= c %> counter = -1  >
        <img src = "./../images/arrow.png" />
      </div>

      <div class="catagory_arrow catagory_arrow--right"  catagory = <%= c %> counter =1>
        <img src = "./../images/arrow.png" />
      </div>

      <div class="catagory_populate_container" id = <%= `_${c}` %>>

        <% for(var i = 0; i <= 3; i++) { %>

          <% var i_ = i + starting_counter %>

          <div class="col-3 no-margin-left">

            <div class= "catagory_product_box product_box--catagory width-100" catagory = <%= c %> it = <%= i_ %> >

              <% var name = "Name Will Be Placed Here" %>

              <% var img = "./images/catagory_3.png" %>

              <% var price = "[N/A]" %>

              <% var description = "" %>

              <% if(catagories[k].products[i_]){ %>
                <% name = catagories[k].products[i_].title.substring(0, 30) + "..."; %>
                <% img = "./"+catagories[k].products[i_].thumbnail %>
                <% price = catagories[k].products[i_].price %>
                <% description = catagories[k].products[i_].description.substring(0, 100) + "...";  %>
              <%}%>

              <p class="catagory_product_text--name"><%= name %></p>

              <img class="catagory_product_image margin-top-5" src = "<%= img %>" />

              <div class="catagory_product_text_box margin-top-5">

                <p class="catagory_product_text catagory_product_text--description"><%=description %></p>
                <p class="catagory_product_text catagory_product_text--price ">$ <%= price %></p>

                <a href = <%="/product/"+catagories[k].products[i_]._id %>><p class="catagory_product_detail">See Details</p></a>

              </div>

           </div>

         </div>

        <% } %>

       </div>

     </div>

    </div>

  <% } %>

</div>
