<div class="margin-top-5">

  <div class="row margin-top-2_5-neg">

    <% for(var i =0; i < 5; i++){ %>
          <% if(items.top_deals[i]){ %>
            <% new_name = items.top_deals[i].title.substring(0, 35) + "..."; %>

            <% var new_description = items.top_deals[i].description  %>

            <% if (items.top_deals[i].description.length > 105) { %>
              <% new_description = items.top_deals[i].description.substring(0, 105) + "..."; %>
            <% } %>

            <div class="col-1-of-3 margin-top-5 padding-top-2_5">

                <a href = "/product/<%=items.top_deals[i]._id%>">

                  <div class="product_box shadow_border relative">
                    <div class="discount_tag"> <%= items.top_deals[i].discount %> %</div>
                    <p class="product_name">Top Deals</p>
                    <p class="product_name_sub"><%= new_name %></p>
                    <img class="product_image" src = ./<%= items.top_deals[i].thumbnail %>>

                    <div class="product_text_box">


                      <p class="product_price product_price_original">$<%= items.top_deals[i].price  %>.99</p>


                      <p class="product_price product_price_new">$<%= parseInt(items.top_deals[i].price - ((items.top_deals[i].price) * (items.top_deals[i].discount / 100)) ).toString(); %>.99</p>
                        <p class="product_description_display"><%=new_description %></p>
                        <p class="product_detail">See Details</p>
                      </div>

                </div>

              </a>

          </div>
          <%}else{%>

            <div class="col-1-of-3 margin-top-5 padding-top-2_5">
                <div class="product_box shadow_border">

                    <p class="product_name">Top Ranked Deals</p>

                    <img class="product_image"src = "./images/catagory_3.png"/>

                    <div class="product_text_box">
                      <p class="product_id">[This could be your product!]</p>
                      <p class="product_price product_price_original">[N/A]</p>
                      <p class="product_price product_price_new">[N/A]</p>
                      <a href = "#"><p class="product_price">See Details</p></a>
                    </div>

                </div>

            </div>
          <%}%>
      <%}%>




  </div>
    <div class="advertise_container">

      <div class="text_banner">
          <p class="title ad_text"> Shop with E-Commcerce Now! </p>
          <p class="subtitle ad_text"> Get access to the best products at the lowest price today! </p>
          <img class="ad_icon" src = "images/pig_icon_gif.gif"/>
      </div>

      <div class= "signup_banner">

        <p class="question">Are you a Customer?</p>

          <button class="ad_button btn create_button">Create Account</button>

          <button class="ad_button btn login_ad">Login</button>

          <button class="ad_button btn google_button">

            <img class="google_img" src = "images/google_logo.png">
            Login With Google

          </button>
          <br />
          <p class="question">Do you Own an E-Commerce Shop?</p>

          <button class="ad_button btn login_ad">Login as Admin</button>

          <button class="ad_button btn create_ad">Become a Store Owner</button>

      </div>

    </div>

  </div>
