<%- include("./../../dropdown_profile.ejs") %>

<div class="navbar_user">

    <div class="navbar_row no_padding relative" >

      <div class="navbar_user_col--logo">

        <a href = "/">
          <img src = <%= `/images/e_logo.png `%> class="navbar_user_logo" alt = "logo" />
        </a>

      </div>

      <% var isAuth = false %>

      <% if(isAuthenticated) {%>
        <% isAuth = true %>
      <%}%>

      <% var address = ' Enter Location Here....' %>

      <% if(user){ %>

        <% if(user.location){ %>

          <% if(user.location.address){ %>

            <% if(user.location.address.length > 0){ %>
              <% address = user.location.address ? user.location.address.substring(0, 70) + "..." :' Enter Location Here....' %>
            <%}%>

          <%}%>

        <%}%>

      <%}%>

      <div isAuth = "<%= isAuth %>"  class="navbar_user_col--delivery" >

          <p isAuth = "<%= isAuth %>" class="navbar_user_subtitle--delivery margin-left-5 padding-left-10">

            <strong isAuth = "<%= isAuth %>">Delivering to</strong>

            <br />
            <%= address %>
            <br />

            <span isAuth = "<%= isAuth %>" class = "navbar_user_update_location">
              Update Location
            </span>

         </p>

      </div>

      <div class="navbar_user_col--search">

            <span class="navbar_user_search_container">    </span>

            <% var input_item = searched_term ? searched_term : "" %>

            <form class=" navbar_user_input--form">
              <input class="form-control no-border navbar_user_input--search" name = "input"
                placeholder = "Search for Item" value = <%= input_item %>>
            </form>

      </div>

      <% if (!isAuthenticated){ %>

          <div class="navbar_user_col--signin">

              <p class="navbar_user_subtitle--welcome medium-font ">
                Hello! Sign in to
                <br/>

                <span class="bold medium-font navbar_user_login_container">
                  <a href="/login">Customer</a> |  <a href="/admin/login">Admin</a>
                </span>

              </p>

          </div>

      <% } %>

        <% if(isAuthenticated){ %>

          <div class="navbar_user_col--order">
              <p class="navbar_user_button--order"> Your Orders </p>
          </div>

          <div class="navbar_user_col--cart relative" >

          <a href="/cart">

            <img src=<%= `/images/cart.png` %> class="navbar_user_icon--cart" />

            <div class="navbar_user_container--cart">

              <% if(cart){ %>

                  <% if(cart.items.length > 0) { %>
                    <p id="cart_number" > <%= cart.items.length %> </p>
                 <%}else{ %>
                   <p id="cart_number">0</p>
                  <%}%>

              <% } %>

            </div>

          </a>

        </div>

        <div class="navbar_user_col--profile"  >
          <img class="navbar_user_icon--profile" src = <%= `/images/profile_img.png` %>>
        </div>

            <%}else{%>

              <div class="relative navbar_user_col--create" >

                <a href = "/create_account">
                  <button class=" navbar_user_button--create" > Create Account </button>
                </a>

              </div>

            <%}%>

        </div>


   </div>
   
   <% if(catagories.length > 0 ){ %>

     <div class = "navbar_catagory_banner">

       <% var limit = catagories.length >= 6 ? 6 : catagories.length %>
           <% for(var i = 0; i < limit; i++){ %>

                <a href = "/search/product/catagory=<%=catagories[i].catagory%>/page_counter=0/isAdmin=false" >

                  <p class="navbar_user_sub_catagory--title" data = <%= catagories[i].catagory %> ><%= catagories[i].catagory %>
                    <span class="navbar_user_sub_catagory--underline" data = <%= catagories[i].catagory %>  ></span>
                  </p>

                </a>

           <% } %>
        <div class="catagory_search_container">
          <form  class="catagory_search_form" >
            <% var input_value = current_catagory ? current_catagory : "" %>
            <input class="catagory_search_user form-control" placeholder = "Enter Catagory" name = "catagory" value = <%= input_value %>>
          </form>
        </div>
      </div>

   <% } %>
