<div class="margin-top-5 top_discount_product_container">

  <div class="row margin-top-2_5-neg">

    <% for(var i =0; i < 5; i++){ %>

          <% var name = "[This could be your product!]" %>
          <% var price_original = "[N/A]" %>
          <% var discount = "[N/A]" %>
          <% var price_new = "[N/A]" %>
          <% var link = "#" %>
          <% var thumbnail = "" %>
          <% var description = "[N/A]" %>


          <% if(items.top_deals[i]){ %>

            <% name = items.top_deals[i].title %>
            <% discount = items.top_deals[i].discount %>
            <% price_original = items.top_deals[i].price %>
            <% price_new = parseInt(items.top_deals[i].price - ((items.top_deals[i].price) * (items.top_deals[i].discount / 100)) ).toString() %>
            <% const formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
              }) %>

            <%  price_original =  formatter.format(price_original) %>
            <%  price_new =  formatter.format(price_new) %>

            <% link =`/product/${items.top_deals[i]._id}` %>
            <% name = name.substring(0, 35) + "..."; %>
            <% description = items.top_deals[i].description %>
            <% thumbnail = `/images/${items.top_deals[i].thumbnail}` %>

            <% if (description.length > 105) { %>
              <% description = description.substring(0, 105) + "..."; %>
            <%}%>

         <%}%>

            <div class="col-1-of-3 margin-top-5 padding-top-2_5 top_discount_products_col">

                <a href = "<%=  link %>">

                  <div class="discount_product_box shadow_border relative">

                    <div class="discount_product_tag"> <%= discount %> %</div>

                    <p class="discount_product_text discount_product_text--title">Top Deals</p>

                    <p class="discount_product_text"><%= name %></p>

                    <img class="discount_product_image" src = "<%= thumbnail %>">

                    <div class="star_container">
                
                    </div>

                    <div class="discount_product_text_box">

                      <p class="discount_product_text discount_product_text--original"><%= price_original  %></p>

                      <p class="discount_product_text discount_product_text--price"><%= price_new %></p>
                        <p class="discount_product_text discount_product_text--description"><%= description %></p>
                        <p class="discount_product_detail">See Details</p>
                      </div>

                </div>

              </a>

          </div>

      <%}%>

  </div>

      <%- include("./advertisement_signup.ejs") %>

  </div>
