<div class="profile_change_container">

    <p class="profile_change--exit">X</p>
    <% console.log(action) %>
    <form  class="profile_change_form" action ="<%= action %>profile/edit" method = "POST" enctype="multipart/form-data">

        <div class="profile_change_img_container">

            <div class="profiile_change_img_container--edit">
                <p> Edit Profile Image </p>
                <input class="inactive_profile_change_input edit_img" type = "file" name = "thumbnail">
            </div>

        </div>

        <label class="profile_change_label"> Full Name </label>
        <input class="profile_change_input profile_change_input--name " name = "name" placeholder  = "Enter Full Name" >

        <label class="profile_change_label"> Username </label>
        <input class="profile_change_input profile_change_input--username" name = "username" placeholder = "Enter Username" >

        <label class="profile_change_label"> Password </label>
        <input class="profile_change_input profile_change_input--password" name = "password" type="password" placeholder = "Enter Password" >

        <label class="profile_change_label"> Confirm Password </label>
        <input class="profile_change_input profile_change_input--confirm" name = "confirm" type="password" placeholder = "Confirm Password" >
        <input class="profile_change_input profile_change_input--confirm" name = "current_url" type="hidden" value = <%= redirect %> >

        <button class="profile_change_button--submit" type="submit"> Update Changes </button>

    </form>

    <% var class_ = "profile_change_img--default" %>
    <% console.log(user) %>
    <% if(user){ %>
      <% var img_ = user.profileImg ? `/images/${user.profileImg}` : "/images/profile_img.png" %>
      <% class_ = user.profileImg ? "" : "profile_change_img--default" %>
      <img class="profile_change_img--display <%= class_ %>" src =" <%= img_ %>" >
    <%}else{%>
      <img class="profile_change_img--display <%= class_ %>" src =" /images/profile_img.png" >
    <%}%>


    <img class="profile_change_logo"  src = "/images/new_logo--2.png"/>

  </div>
