<%- include("./dropdown_main_menu.ejs") %>

<header class = "admin_navbar">

  <a href = "/admin">

    <div class="logo_container nav_container"style="margin-left:0">

    <img class="logo--admin" src = "/images/new_logo--2.png">

      E-Commerce
      |
      Admin

    </div>

  </a>

  <div class="nav_container add_p">
    Add Product
  </div>

  <div class="nav_container edit_delete_p">
      Edit / Delete
  </div>

  <div class="nav_container search_p">
    <form class= "navbar_admin_input--form"style="margin-top:0%;border:none;">
      <input class="form-control no-border navbar_admin_input--search " name = "input"  placeholder = "Search for Item" >
    </form>

  </div>


  <div class="nav_container profile_col profile_col_admin">

    <img class="profile_icon profile_icon--admin" src = <%= `/images/profile_img.png` %>>

  </div>

  <div class = "navbar_user_sub_banner">

    <% var limit = catagories.length >= 6 ? 6 : catagories.length %>
        <% for(var i = 0; i < limit; i++){ %>

             <a href = "/search/product/catagory=<%=catagories[i].catagory%>/page_counter=1/isAdmin=true" >

               <p class="navbar_user_sub_catagory--title" data = <%= catagories[i].catagory %> ><%= catagories[i].catagory %>
                 <span class="navbar_user_sub_catagory--underline" data = <%= catagories[i].catagory %>  ></span>
               </p>

             </a>


          <%}%>

          <div class="catagory_search_container">
            <form  class="catagory_search_form catagory_search_form--admin" >
              <input class="catagory_search_admin form-control" placeholder = "Enter Catagory" name = "catagory" >
            </form>
          </div>

  </div>

</header>
